<div class="first_container">

<nav class="header">
    <ul class="nav_left">
        <li><img style="width:60px; height: 60px;" src="https://image.flaticon.com/icons/svg/1295/1295506.svg" alt="LOGO"></li>
    </ul>
    <ul class="nav_right">
        <li>home</li>
        <li>about</li>    
        <li>work</li>
        <li>blog</li>
        <li>contact</li>
    </ul>
</nav>

<h1>Hi there! We are the new kids on the block <br> and we build awesome websites and mobile apps.</h1>
<span>WORK WITH US!</span>

</div>