<div class="second_container">
    <h2>services we provide</h2>
    <h5>We are working with both individuals and businesses from all over the globe <br> to create awesome websites and applications.</h5>
    <ul>
        <li>
            <img src="" alt="">
            <h3>Branding</h3>
            <p>Loren ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh.</p>
        </li>
        <li>
            <img src="" alt="">
            <h3>design</h3>
            <p></p>
        </li>
        <li>
            <img src="" alt="">
            <h3>development</h3>
            <p></p>
        </li>
        <li>
            <img src="" alt="">
            <h3>rocket science</h3>
            <p></p>
        </li>
    </ul>
</div>