<div class="second_container">

    <h2>services we provide</h2>
    <h5>We are working with both individuals and businesses from all over the globe <br> to create awesome websites and applications.</h5>

    <div class="icons">
         <img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/1251/1251440.svg" alt="2">
        <img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/1040/1040228.svg" alt="2">
        <img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/416/416204.svg" alt="3">
        <img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/1420/1420337.svg" alt="4">
    </div>

    <ul class="box"> 
        <li>
            <h3>BRANDING</h3>
            <p>Loren ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh.</p>
        </li>
        <li>
            <h3>DESIGN</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
        </li>
        <li> 
            <h3>DEVELOPMENT</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
        </li>
        <li>
            <h3>ROCKET SCIENCE</h3>
            <p>Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
        </li>
    </ul>
</div>