<div class="third_container">
    <h2>MEET OUR BEAUTIFUL TEAM</h2>
    <p>We are small team of designers and developers, who help brands with big ideas.</p>
    <div class="icons">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
    </div>
    
    <ul class="text">
        <li>ANNE HATHAWAY</li>
        <li>KATE UPTON</li>
        <li>OLIVIA WILDE</li>
         <li>ASHLEY GREENE</li>
    </ul>

</div>